/* Fullscreen */
html, body {
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
}

body {
    position: relative;
}


/* Background */
.background {
    z-index: 0;
    width: 100vw;
    height: 100dvh;
    position: fixed;
    inset: 0;
    background: repeating-linear-gradient(
        45deg,
        #002041,
        #002041 0%,
        #002041 25%,
        #002b57 25%,
        #002b57 50%
    );
    background-size: 80px 80px;
    animation: slide 5s linear infinite;
    border-radius: 0;
}

@keyframes slide {
    0% {
        background-position: 0px 0px;
    }
    
    100% {
        background-position: -80px 80px;
    }
}


/* Styling */
*, *::before, *::after {
    box-sizing: border-box;
    font-size: x-large;
    scrollbar-color: #60acf4 #1d78ce;
}

@font-face {
    font-family: "baloo2";
    src: url("./baloo2.ttf") format("truetype");
}

div, span, input, button {
    font-family: "baloo2";
    color: #ffffff;
    border-radius: 10px;
    border: none;
    outline-width: 5px;
    outline-color: #ffffff;
}

select, ::picker(select) {
    appearance: base-select;
}

button, input, select {
    background-color: #368ada;
    outline-style: solid;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    min-height: 50px;
}

select {
    min-height: 35px;
}

button:hover, select:hover {
    background-color: #60acf4;
}

button:hover {
    transform: scale(1.1);
}

button:active, select:active {
    background-color: #1d78ce;
}

button:active {
    transform: scale(0.9);
}

button:disabled {
    background-color: #1d78ce;
    cursor: not-allowed;
}

input {
    background-color: #00488f;
    outline-style: solid;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

input:focus {
    background-color: #005bb7;
    transform: scale(1.1);
}

input::placeholder {
    color: #ffffff;
}

/* Code from cssloaders.github.io */
.loading {
    width: 48px;
    height: 48px;
    border: 5px solid #ffffff;
    border-bottom-color: transparent;
    border-radius: 50%;;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* App */
#app {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s cubic-bezier(0.23, 1, 0.320, 1);
    width: 100vw;
    height: 100dvh;
}


/* Scene */
.scene {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    width: 100vw;
    height: 100dvh;
}

#sceneRow {
    position: absolute;
    left: 0px;
    display: flex;
    flex-direction: row;
    height: 100dvh;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

#sceneButtons {
    position: absolute;
    display: flex;
    gap: 20px;
    top: calc(100dvh - 100px);
}

#sceneButtons button {
    min-width: 100px;
}


/* Vertical/Horizontal */
.vertical {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.horizontal {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


/* Panels */
.panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #60acf42e;
    border-radius: 50px;
    border: none;
    padding: 50px;
}

.splitLeft {
    width: 45%;
    height: 100%;
}

.splitRight {
    width: 55%;
    height: 100%;
}

.splitTop {
    width: 100%;
    height: 60%;
}

.splitBottom {
    width: 100%;
    height: 40%;
}


/* Sizes */
.longWidth {
    min-width: 300px;
}

.superLongWidth {
    min-width: 500px;
}

.smallSize {
    display: flex;
    max-width: 25px;
    max-height: 25px;
}

span.bigFont.bigFont, label.bigFont.bigFont, input.bigFont.bigFont {
    font-size: xx-large;
}

span.smallFont.smallFont, label.smallFont.smallFont, input.smallFont.smallFont {
    font-size: medium;
}


/* Alignment */
.textLeft span {
    text-align: left;
}

.textRight span {
    text-align: right;
}

.textRight {
    align-items: flex-end;
}

/* Custom */
/* Player */
#playerSearch, #levelResults {
    width: 100%;
    height: 100%;
    justify-content: start;
    gap: 20px;
    margin-top: 50px;
    padding: 45px;
    flex-direction: column;
    overflow-y: auto;
}

.player {
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#playerInfoPanel {
    justify-content: center;
}

.playerInfo {
    gap: 0px;
    min-width: 0;
}

.playerInfo span {
    white-space: nowrap;
}


/* Awards */
.awardGridContainer {
    justify-content: center;
    padding: 25px;
}

#awardsGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: auto;
    place-items: center;
    width: calc(100% - 60px);
    max-height: 100%;
    /* overflow-x: hidden; */
}

#awardsGrid img {
    max-width: 64px;
    max-height: 64px;
}

.award {
    position: relative;
}

.award span {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #00488f73;
    min-width: 50px;
    text-align: center;
}


/* Level */
.levelInfo {
    gap: 0px;
    min-width: 0;
}

.levelInfo span {
    white-space: nowrap;
    font-size: larger;
}

#sceneLevelsRight {
    justify-content: center;
}

.level {
    min-width: 400px;
    min-height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
}

.level div {
    gap: 0px;
}

.level div div img {
    max-width: 24px;
    max-height: 24px;
}

.level div div {
    align-items: center;
    gap: 5px;
}


/* Crowns */
#crownResults, #timeTrialResults {
    width: 550px;
    height: 100%;
    max-height: 500px;
    justify-content: start;
    gap: 20px;
    padding: 45px;
    flex-direction: column;
    overflow: auto;
}

.player div.horizontal {
    gap: 5px;
    align-items: center;
}


/* Colors */
.green {
    filter: brightness(0) saturate(100%) invert(88%) sepia(12%) saturate(1193%) hue-rotate(69deg) brightness(109%) contrast(97%);
    color: #aafbb8;
}

.yellow {
    filter: brightness(0) saturate(100%) invert(94%) sepia(81%) saturate(509%) hue-rotate(16deg) brightness(104%) contrast(110%);
    color: #efff80;
}

.red {
    filter: brightness(0) saturate(100%) invert(88%) sepia(32%) saturate(4950%) hue-rotate(303deg) brightness(95%) contrast(121%);
    color: #ff8888;
}

.unknown {
    filter: brightness(0) saturate(100%) invert(62%) sepia(49%) saturate(661%) hue-rotate(188deg) brightness(102%) contrast(94%);
    color: #81b0f8;
}


/* Hover */
.hover {
    position: relative;
    display: inline-flex;
}

.hover .hoverText {
    visibility: hidden;
    opacity: 0;
    background-color: #00488f;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    padding: 5px;
}

.hover:hover .hoverText {
    visibility: visible;
    opacity: 1;
}


@media screen and (max-aspect-ratio: 4/5) {
    *, *::before, *::after {
        font-size: medium;
    }
    
    span.bigFont.bigFont, label.bigFont.bigFont, input.bigFont.bigFont {
        font-size: large;
    }
    
    span.smallFont.smallFont, label.smallFont.smallFont, input.smallFont.smallFont {
        font-size: small;
    }
    
    .panel {
        padding: 30px;
    }
    
    #scenePlayers {
        flex-direction: column;
    }
    
    #scenePlayersLeft {
        width: 100%;
        height: 35%;
    }
    
    #scenePlayersRight {
        width: 100%;
        height: 65%;
    }
    
    #playerSearch, #levelResults {
        padding: 10px;
    }
    
    #sceneLevels {
        flex-direction: column;
    }
    
    #sceneLevelsLeft {
        width: 100%;
        height: 55%;
    }
    
    #sceneLevelsRight {
        width: 100%;
        height: 45%;
    }
    
    #sceneCrowns {
        flex-direction: column;
    }
    
    #awardsGrid img {
        max-width: 45px;
        max-height: 45px;
    }
    
    @media (pointer: coarse) {
        .scene {
            padding: 20px;
        }
        
        *, *::before, *::after {
            font-size: smaller;
        }
        
        button, input, select {
            min-height: 20px;
        }
    
        .panel {
            border-radius: 10px;
            padding: 15px;
        }
        
        .longWidth {
            min-width: 150px;
        }
        
        .superLongWidth {
            min-width: 200px;
        }
        
        .smallSize {
            display: flex;
            max-width: 10px;
            max-height: 10px;
        }

        #sceneButtons {
            top: calc(100dvh - 50px);
        }
        
        span.bigFont.bigFont, label.bigFont.bigFont, input.bigFont.bigFont {
            font-size: small;
        }
        
        span.smallFont.smallFont, label.smallFont.smallFont, input.smallFont.smallFont {
            font-size: xx-small;
        }
        
        #playerSearch, #levelResults {
            margin-top: 0;
            padding: 0;
            gap: 20px;
        }
        
        #crownResults, #timeTrialResults {
            width: 275px;
        }
        
        .level {
            min-width: 200px;
            min-height: 45px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            overflow-y: auto;
        }
        
        .player {
            min-width: 150px;
        }
    }
}